<div class="container-fluid bg-white">
  <div class="container ">
    <h3 class="mt-5 mb-3">Правила аренды автомобилей</h3>

        <p><strong>1. Бронирование</strong><br>
          <br>
          Заказать автомобиль в&nbsp;компании&nbsp;CarRental&nbsp;можно несколькими способами:</p>

        <ul>
          <li>Через сайт компании. В этом случае бронирование автомобиля происходит незамедлительно. На сайте можно выбрать доступные по дате автомобили.</li>

          <li>Устно по круглосуточному телефону 8 (800) 700-32-95.</li>
        </ul>

        <p><br>
          <strong>2. Аннулирование брони</strong><br>
          <br>
          Для бронирования автомобиля не требуется вносить оплату,&nbsp;за исключением праздничных дней.<br>
          При отмене брони необходимо сообщить об этом компании за 24&nbsp;часа&nbsp;до даты предполагаемой аренды.<br>
          <br>
          <strong>3. Оплата</strong><br>
          <br>
          В компании&nbsp;CarRental у Клиента есть возможность оплатить услуги аренды автомобилей несколькими способами:</p>

        <ul>
          <li>Наличными;</li>
          <li>Банковским&nbsp;переводом;</li>
          <li>Банковской картой.</li>
        </ul>

        <p><br>
          <strong>4. Залог</strong><br>
          <br>
          При получении автомобиля Клиент вносит залог. Залог удерживается прокатной компанией на время аренды автомобиля. Внести залог можно наличными, банковским переводом, по банковской карте.<br>
          <br>
          Сумма залога зависит от класса автомобиля:</p>

        <p>
          <br>
          <strong>5. Выдача и возврат забронированного автомобиля</strong><br>
          <br>
          Выдача и возврат автомобиля происходит в следующих местах:</p>

        <ul>
          <li>В офисе компании</li>
          <li>В городе по адресу Клиента</li>
          <li>В аэропорту</li>
          <li>На железнодорожном вокзале</li>
        </ul>

        <p>Во время заказа автомобиля Клиент указывает в какое время он хотел бы получить автомобиль. При наступлении указанного времени менеджер компании связывается с Клиентом и сообщает точное место ожидания автомобиля. После чего Клиент осматривает автомобиль, подписывает договор и оплачивает услуги аренды автомобиля. Клиент может оплатить услуги банковской картой если в Брони указана информация о способе платежа. Процесс выдачи и возврата автомобиля ориентировочно занимает 15 минут.<br>
          Получение автомобиля вне станции аренды и нерабочие часы оплачивается дополнительно.<br>
          <br>
          <strong>6. Страховки</strong><br>
          <br>
          В стоимость аренды автомобиля входит страховой пакет ОСАГО и КАСКО с ограничением ответственности Клиента при повреждении автомобиля в размере суммы франшизы.<br>
          Повреждения, которые&nbsp;не покрываются полисом КАСКО: повреждения салона, шин, коробки передач, днища, сцепления, двигателя, масляного поддона, повреждения в результате использования неподходящего вида топлива, потеря комплектности автомобиля, затраты на техническую помощь на дороге, затраты на буксировку автомобиля.<br>
          <br>
          <strong>7. Дополнительное страхование</strong><br>
          <br>
          По желанию Клиента&nbsp;может предоставляться&nbsp;Супер страховка (Super&nbsp;CDW) на случай угона или автомобильной аварии, страхование стеклянных элементов от сколов и трещин. Со стоимостью покупки дополнительного страхования можно ознакомиться позвонив по номеру телефона 8 800 700 32 95.<br>
          <br>
          <strong>8. Документы</strong><br>
          <br>
          Во время получения автомобиля арендатор и дополнительные водители должны предъявить паспорт и водительское удостоверение.<br>
          Водительское удостоверение арендаторов и дополнительных водителей должно иметь стаж не менее 3 лет. Допускаются к аренде арендаторы с национальными или международными водительскими удостоверениями.<br>
          <br>
          <strong>9. Возраст арендатора</strong><br>
          <br>
          К аренде допускаются арендаторы и дополнительные водители достигшие возраста 23 лет.<br>
          <br>
          <strong>10. Дополнительные Водители</strong><br>
          <br>
          Компания взимает сумму за услуги «Дополнительный водитель» за каждый день аренды, которая оплачивается в момент получения автомобиля. Эти суммы указаны в тарифах компании. Дополнительные водители должны быть указаны в договоре аренды, а также должны предоставить те же документы, что и арендатор автомобиля<br>
          <br>
          <strong>11. Прокат в Один Конец</strong><br>
          <br>
          Аренда автомобиля с прокатом в один конец доступна по запросу и за дополнительную плату. Стоимость&nbsp;услуги необходимо уточнять у оператора.<br>
          <br>
          <strong>12. Выезд в другие регионы России и Страны</strong><br>
          <br>
          Автомобиль можно использовать по всей территории России за исключением Республик Северного Кавказа.<br>
          Выезд в другие страны допустим по согласованию с менеджером компании.<br>
          <br>
          <strong>13. Дополнительное Оборудование</strong><br>
          <br>
          Клиентам доступно для аренды дополнительное оборудование:</p>

        <ul>
          <li>Детские&nbsp;кресла</li>
          <li>GPS навигатор</li>
          <li>Радар детекторы</li>
          <li>Видео регистраторы</li>
        </ul>

        <p><br>
          <strong>14. Защита данных</strong><br>
          <br>
          Имя и адрес клиента, детали бронирования, адреса электронной почты хранятся в базе данных. Эти данные никогда не разглашаются, не используются или продаются кому бы то ни было за пределами Компании без предварительного согласия клиента. Имя клиента и адреса электронной почты могут использоваться только&nbsp;для того, чтобы отправить сообщения рекламного характера или специальные предложения по электронной почте клиента.<br>
          <br>
          <strong>15. Поддержки Клиентов</strong><br>
          <br>
          Компания&nbsp;CarRental&nbsp;оказывает круглосуточную поддержку клиентам в решении любых проблем по телефону 8 (800) 700-32-95, 8 (917) 259-49-79,&nbsp;mail: carRental@gmai.com</p>

        <p>Спасибо, что уделили время и ознакомились с правилами аренды.</p>

      </div>
  <div class="container">

  </div>

</div>
