.img-container{
  background-image: url("src/assets/images/Nijnii-main-page.jpg");

  height: 660px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrap-booking {


  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  padding: 30px 40px 30px 40px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

